body {
    margin: 0;
    display: flex;
    place-items: center;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

